@model WeatherAppV2.WebApp.Models.ViewModels.VMMunicipalityMenu
@{
	ViewData["Title"] = "Municipalities";
}

<div class="container bg-white shadow rounded-1 bloque mt-5 text-center">
        
        <h1>Listado de Municipios de @Model.province.NombreProvincia </h1>
        <form asp-action="ShowTemperature" asp-controller="Municipality" method="post">
        <Select class="form-select" name="Codigoine">
                @foreach (var municipality in Model.municipalites)
                {
                    <option value="@municipality.Codigoine"> @municipality.Nombre </option>
                }
            </Select>

            <button class="btn btn-dark mt-3"> Buscar </button>

        </form>
    </div>

